<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>
    <h1 style="text-align:center;">Add owner`s car</h1>
    <form action="/add" class="container" method="post">     
            
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="owner" id="dono" placeholder="dono" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" name="colors" id="cor" placeholder="cor" class="form-control" >

            </div>
            <div class="col-md-6">
                <input type="text" name="models" id="modelo" placeholder="modelo" class="form-control" >
            </div>
            <br>
            <div class="row col-xs-12">
                <button type="submit" class="btn btn-block btn-sucess">Send</button>
            </div>
        </form>
        </body>
        </html>
