<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>
<body>

    <h1 style="...">Edit the forms</h1>
    <form action="/edit/{{car.id}}" class="container" method="post">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="owner" id="owner" placeholder="owner" class="form-control" value="{{cars.owner}}">
            </div>
            <div class="col-md-6">
                <input type="text" name="colors" id="colors" placeholder="colors" class="form-control" value="{{cars.colors}}">

            </div>
            <div class="col-md-6">
                <input type="text" name="models" id="models" placeholder="models" class="form-control" value="{{cars.models}}">
            </div>
        </form>
        </body>
        
        </html>





